<ion-header>
    <ion-toolbar>
      <ion-title>stap 3</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
        <ion-toolbar>
            <ion-title><h1>Stap 3</h1></ion-title>
          </ion-toolbar>
          <div class="ion-text-center">
              <h4>Leg stapsgewijs uit hoe het gerecht bereid moet worden</h4>
          </div>

          <ion-list lines="none">
            <form [formGroup]="myForm">
              <ion-item *ngFor="let control of myForm.controls | keyvalue">
                <ion-input required type="text" [formControlName]="control.key" placeHolder="Voer hier je beschrijving in"></ion-input>
                <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
              </ion-item>
            </form>
          </ion-list>

          <ion-button expand="full" color="light" (click)="addControl()">Voeg een stap toe</ion-button>
                
      <div class="ion-padding">
        <ion-button (click)= "toFourthPage()"expand="block" type="submit" class="ion-no-margin">Ga naar stap 4</ion-button>
      </div>
       
    </div>
  </ion-content>
  
  
  
    
  
  