<ion-content class="background-image" no-scroll padding>
  <ion-img src="../assets/images/Recipely.png"></ion-img>
  <div *ngIf="authenticationService.userData | async">
      <h3 >Welkom terug! {{ ' ' + (authenticationService.userData | async)?.email }}</h3>
      <p>Klik hier om weer naar de app toe te gaan!</p>
      <button (click)="loggedIn()"> Bekijk recepten!</button>
      <p>Is dit niet je account? Klik dan op uitloggen en log vervolgens dan in je eigen account.</p>
      <button (click)="signOut()">Logout</button>
    
  </div>

  <div *ngIf="!(authenticationService.userData | async)">
  <section>
     <div class="ion-padding">
    <hr>
      <ion-button shape="round" expand="full" (click)="toRegisterPage()" color="light" >Registreer</ion-button>
    <hr>
    <hr>
      <ion-button shape="round" expand="full" (click)="authenticationService.GoogleAuth()" color="danger" (click)="goLoginPage()">Registreer met Google</ion-button>
    <hr>
    <hr>
      <ion-button shape="round" expand="full" (click)="toLoginPage()" color="success" (click)="goLoginPage()">Login met je account</ion-button>
    </div>
    
  </section>
</div>
</ion-content>
