<ion-header  *ngIf="authenticationService.userData | async">
  <ion-toolbar color= "secondary" >
    <ion-buttons slot='start'>
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorieën</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content  *ngIf="authenticationService.userData | async" >
  <ion-card tappable (click)="toMeatRecipes('Vlees')" >
    <img src="../../assets/images/Vlees.jpg"/>
  </ion-card>

  <ion-card tappable (click)="toFishRecipes('Vis')" >
    <img src="../../assets/images/Vis.jpg"/>
  </ion-card>

  <ion-card tappable (click)="toVeganRecipes('Vegetarisch')" >
    <img src="../../assets/images/Vega.jpg"/>
  </ion-card>
</ion-content>
