<ion-header>
  <ion-toolbar color= "secondary" >
    <ion-buttons slot='start'>
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorieën</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content >
  <ion-card tappable (click)="toMeatRecipes('Vlees')" >
    <img src="../../assets/images/vlees.jpg"/>
  </ion-card>

  <ion-card tappable (click)="toFishRecipes('Vis')" >
    <img src="../../assets/images/vis.jpg"/>
  </ion-card>

  <ion-card tappable (click)="toVeganRecipes('Vegetarisch')" >
    <img src="../../assets/images/vegan.jpg"/>
  </ion-card>
</ion-content>
