<ion-header>
  <ion-toolbar>
    <ion-title>Voeg een recept toe</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

 
<ion-content padding>
  <form class="form" [formGroup]="validations_form">
    
  <div class="ion-padding">
    <div class="ion-text-center">
      <h1>Stap 1</h1>
    </div>
    <div class="ion-text-center">
      <h4>Geef het recept een naam</h4>
    </div>
    </div>
 
    <ion-item>
      <ion-input formControlName="naam" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true"
        inputmode="text" placeholder="Voer een naam in" required="true"></ion-input>
      <ion-icon name="md-create" slot="end"></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.naam">
        <div class="error-message" *ngIf="validations_form.get('naam').hasError(validation.type) && (validations_form.get('naam').dirty || validations_form.get('naam').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="ion-text-center">
      <h4>Selecteer de ingrediënten die nodig zijn voor het recept</h4>
    </div>
    <ion-item>
      <ion-label>ingrediënten</ion-label>
      <ion-select formControlName="ingredients" multiple="true" cancelText="Cancel" okText="Select">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="Spaghetti">Spaghetti</ion-select-option>
        <ion-select-option value="Olijven">Olijven</ion-select-option>
        <ion-select-option value="Kaas">Kaas</ion-select-option>
        <ion-select-option value="Paprika">Paprika</ion-select-option>
        <ion-select-option value="Uien">Uien</ion-select-option>
        <ion-select-option value="Pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="Annanas">Annanas</ion-select-option>
        <ion-select-option value="Worst">Worst</ion-select-option>
        <ion-select-option value="Spinazie">Spinazie</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-text-center">
      <h4>Selecteer een categorie</h4>
    </div>

    <ion-item>
      <ion-label>Categorie</ion-label>
      <ion-select placeholder="Selecteer een categorie" formControlName="categorie">
        <ion-select-option value="Vlees">Vlees</ion-select-option>
        <ion-select-option value="Vis">Vis</ion-select-option>
        <ion-select-option value="Vegetarisch">Vegetarisch</ion-select-option>
      </ion-select>
    </ion-item>


    <div class="ion-text-center">
      <h1>Stap 2</h1>
    </div>  

    <div class="ion-text-center">
      <h4>Voor wanneer is het gerecht?</h4>
    </div>

    <ion-item>
      <ion-label>Wanneer</ion-label>
      <ion-select formControlName="mealTime" multiple="true" cancelText="Cancel" okText="Select">
        <ion-select-option value="Ochtend">Ochtend</ion-select-option>
        <ion-select-option value="Middag">Middag</ion-select-option>
        <ion-select-option value="Avond">Avond</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-text-center">
      <h4>Voor hoeveel personen is het gerecht?</h4>
    </div>

    <ion-item>
      <ion-input formControlName="people" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true"
        inputmode="text" placeholder="Voer aantal personen in" required="true"></ion-input>
      <ion-icon name="md-contacts" slot="end"></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.people">
        <div class="error-message" *ngIf="validations_form.get('people').hasError(validation.type) && (validations_form.get('people').dirty || validations_form.get('people').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div class="ion-text-center">
      <h4>Hoelang duurt het bereiden van het gerecht?</h4>
    </div>

    <ion-item>
      <ion-input formControlName="prepTime" autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true"
        inputmode="text" placeholder="Voer een tijd in minuten in" required="true"></ion-input>
      <ion-icon name="md-contacts" slot="end"></ion-icon>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.prepTime">
        <div class="error-message" *ngIf="validations_form.get('prepTime').hasError(validation.type) && (validations_form.get('prepTime').dirty || validations_form.get('prepTime').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

     <div class="ion-text-center">
      <h1>Stap 3</h1>
    </div>
    <form>
    <ion-item class="container border mb-4 p-3" *ngFor="let step of steps; let i = index;">
      <div class="row">
        <div>
          <h5>Stap {{i + 1}}</h5>
        </div>
        <div class="text-right">
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="step.step" name="step_{{i}}" placeholder="Voeg .. toe"/>
        <button type="button" class="btn btn-danger btn-sm" (click)="removeSteps(i)">Verwijder stap</button>
      </div>
    </ion-item>
  </form>
    
    <div class="text-right">
        <input type="submit" class="btn btn-success" (click)="addSteps()" value="Voeg stap toe"/>
    </div>

    <div class="ion-text-center">
      <h1>Stap 4</h1>
    </div>

    <div class="ion-text-center">
      <h4>Voeg een foto toe</h4>
    </div>

    <div class="uploadbtn">
      <label>
        <input (change)="saveEvent($event)" type="file" class="image-upload" accept="image/*">
      </label>
    </div>

    <div class="ion-text-center">
      <h4>Voeg een video toe</h4>
    </div>

    <ion-item>
      <ion-input formControlName="video"  autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true"
        inputmode="text" placeholder="Voeg een link toe" required="true"></ion-input>
      <ion-icon name="md-link" slot="end"></ion-icon>
    </ion-item>


    <ion-button (click)="uploadAlert()" expand="block" class="submit-btn" type="submit"  [disabled]="!validations_form.valid">Voeg het recept toe</ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>

  
  
</ion-content>



