<ion-header>
  <ion-toolbar>
    <ion-title>Vis gerechten</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showcancelbutton="" (keyup)="filterList($event)"></ion-searchbar>
  <ion-card *ngFor="let item of recipeList">
    <img src="../../assets/images/{{ item.image }}.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Bevat {{ item.ingredient }}</ion-card-subtitle>
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{item.id}}
    </ion-card-content>
  </ion-card>
</ion-content>
